.common-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parentMGameWrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
}

.mGameContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  min-width: 36vh;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mGameBodyWrapper {
  flex: 1;
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mGameTitle {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Dark color for text */
  padding-left: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.newButtonMGame,
.styled-select {
  font-family: cursive;
  background-color: #ffa500; /* Orange-yellow color */
  color: white; /* Text color */
  font-size: 14px; /* Font size */
  font-weight: bold;
  padding: 10px 20px; /* Spacing around the text */
  border: none; /* Remove default border */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.newButtonMGame:hover {
  background-color: #e69500; /* Slightly darker shade on hover */
}

.mGameHeaderButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-right: 40px;
}

/* Hover effect */
.styled-select {
  background-color: white;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  padding: 5px;
  border: 0.1px solid black;
}

.styled-select:hover {
  background-color: #f4f4f4;
}

.circleBox {
  overflow-x: auto;
  padding: 15px;
}

.mGameCircle {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e3a5f;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* Hover effect */
.mGameCircle:hover {
  background-color: #274b7a; /* Change color on hover */
  border-color: rgb(200, 200, 200); /* Add border color on hover */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  cursor: pointer;
}

.mGameCircle.is-flipped {
  transform: rotateY(180deg);
}

.mGameCircle .front,
.mGameCircle .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.mGameCircle .back {
  font-family: cursive;
  transform: rotateY(180deg);
  background-color: #b0c4d9; /* Style for the flipped side */
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  border: 1px solid black;
}

.gridBodyStructure {
  display: grid;
  gap: 15px;
}

.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
}

.topScore-container {
  font-family: cursive;
  font-weight: bold;
  font-size: 14px;
  color: white; /* Dark text color */
  background-color: #ffa500; /* Light gray background */
  padding: 11.5px;
  border-radius: 10px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  caret-color: transparent;
}

.topScore-container:hover {
  background-color: #e69500; /* Slightly darker shade on hover */
}

.overlay-content-table{
  display: flex;
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grey-backgroud{
  background-color: #E0E0E0;
}

.overlay-table-header1, .overlay-table-header2, .overlay-table-column1, .overlay-table-column2{
  flex: 0.5;
  font-family: cursive;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Dark color for text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.overlay-table-column1, .overlay-table-column2{
  font-family: cursive;
  font-size: 14px;
  font-weight: 400;
  
}
/* Media query for small screens */
@media (max-width: 768px) {
  .headerContent,
  .mGameHeaderButtonWrapper {
    flex-direction: column; /* Stacks the divs vertically */
    gap: 2vh;
  }
  .mGameTitle {
    padding-left: 0px;
  }
  .mGameHeaderButtonWrapper {
    padding-right: 0px;
    margin-top: 20px;
  }
}
