.common-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parentMGameWrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
}

.mGameContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  min-width: 36vh;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mGameBodyWrapper {
  flex: 1;
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  padding: 10px;
  text-align: center;
  z-index: 1;
  border: 1px solid red;
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mGameTitle {
  font-family: cursive;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Dark color for text */
  padding-left: 20px;
}

.newButtonMGame,
.styled-select {
  font-family: cursive;
  background-color: #ffa500; /* Orange-yellow color */
  color: white; /* Text color */
  font-size: 14px; /* Font size */
  font-weight: bold;
  padding: 10px 20px; /* Spacing around the text */
  border: none; /* Remove default border */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.newButtonMGame:hover {
  background-color: #e69500; /* Slightly darker shade on hover */
}

.mGameHeaderButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-right: 40px;
}

/* Hover effect */
.styled-select {
  background-color: white;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  padding: 5px;
  border: 0.1px solid black;
}

.styled-select:hover {
  background-color: #f4f4f4;
}

.circleBox{
  background-color: blue;
  min-width: 400px;
  min-height: 400px;
  
}

/* Media query for small screens */
@media (max-width: 768px) {
  .headerContent,
  .mGameHeaderButtonWrapper {
    flex-direction: column; /* Stacks the divs vertically */
  }
}
